<div class="card shadow-sm rounded-box bg-base-100">
  <div class="card-body">
    <h1 class="card-title">Sign Up</h1>
    <%= form_with model: User.new do |form| %>
      <label class="floating-label mt-4 mb-3 w-full">
        <span class="label">Email</span>
        <%= form.text_field :email, class: "input w-full", placeholder: "email" %>
      </label>
      <label class="floating-label w-full mb-3">
        <span class="label">Password</span>
        <%= form.password_field :password, class: "input w-full", placeholder: "password" %>
      </label>
      <label class="floating-label w-full">
        <span class="label">Password Confirmation</span>
        <%= form.password_field :password_confirmation, class: "input w-full", placeholder: "confirm password" %>
      </label>
      <div class="card-actions mt-6">
        <%= form.submit "Sign Up", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>